@using OnlineWebShop.Models;
@model Product
  @{
      ViewBag.Title = "Details";
      Layout = "~/Views/Shared/_LayoutUser.cshtml";

    }
@*<div style="display:block">
        <div style="display:inline-block"><img src="~/Assets/~/Assets/img/@Model.ProductImages") alt="@Model.Name"/></div>
        <div style="display:inline-block">
        <p>Tên Sản phẩm: @Model.Name</p>
        <p>Giá: @String.Format("{0:0,0}", @Model.Price) VND </p>
        <p>Thời gian bảo hành: @Model.Warranty Tháng</p>
        @if (Model.Status == false)
        {
        <p>Tình Trạng: Hết hàng</p>
        }
        else
        {
            <p>Tình Trạng: Còn hàng</p>
        }
            <p>Nhà Sản Xuất: @Html.Action("ProducerName", "Home", new { id = @Model.ProducerID })</p>
        <p><a href="@Url.Action("InsertCart","ShoppingCart",new { proid = Model.ProductID, url= @Request.Url.ToString()})" class="btn btn-success" role="button">Thêm giỏ hàng</a></p>
</div>
</div>*@
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="active">Chi tiết sản phẩm</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<!--start-single-->
<div class="single contact">
    <div class="container">
        <div class="single-main">
            <div class="col-md-12">
                <div class="sngl-top">
                    <div class="col-md-5 single-top-left">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="@Model.ProductImages">
                                    <img src="@Model.ProductImages" />
                                </li>
                                <li data-thumb="@Model.ProductImages">
                                    <img src="~/Assets/images/@Model.ProductImages" />
                                </li>
                                <li data-thumb="@Model.ProductImages">
                                    <img src="~/Assets/images/@Model.ProductImages" />
                                </li>
                                <li data-thumb="@Model.ProductImages">
                                    <img src="~/Assets/images/@Model.ProductImages" />
                                </li>
                            </ul>
                        </div>
                        <!-- FlexSlider -->
                        <script defer src="~/Assets/js/jquery.flexslider.js"></script>
                        <link rel="stylesheet" href="~/Assets/css/flexslider.css" type="text/css" media="screen" />

                        <script>
// Can also be used with $(document).ready()
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: "thumbnails"
  });
});
                        </script>
                    </div>
                    <div class="col-md-7 single-top-right" >
                        <div class="details-left-info simpleCart_shelfItem">
                            <h3>@Model.Name <div class="fb-share-button" data-href="http://localhost:51705/" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A51705%2F&amp;src=sdkpreparse">Share</a></div></h3>
                            @if (Model.Status != false)
                            {
                            <h4 class="availability">Tình trạng: <span style="color:green">Còn hàng</span></h4>
                            }
                            else
                            {
                                <p class="availability">Tình trạng: <span class="color">Hết hàng</span></p>
                            }
                            <h4><span >Nhà sản xuất: @Html.Action("ProducerName", "Home", new { id = Model.ProducerID })</span></h4>
                            <h4><span>Thời gian bảo hành : @Model.Warranty Tháng</span></h4>
                            <div class="price_single">
                                <h3> <span>@String.Format("{0:0,0}", Model.Price) VND</span></h3>
                                </div>
                            <div class="clearfix"> </div>
                       
                            <h4 style="font-family:Avo,Open Sans,Arial,sans-serif">
                                <span>Thanh toán trực tuyến:</span> <a href="@Model.OnlinePay"><img src="http://www.baokim.vn/developers/uploads/baokim_btn/thanhtoan-l.png" alt="Thanh toán an toàn với Bảo Kim !" border="0"></a>
                            </h4>
                            <hr />
                            <div class="single-but item_add">
                                <a href="@Url.Action("InsertCart","ShoppingCart",new { proid = Model.ProductID, url= @Request.Url.ToString()})"><input type="submit" value="Thêm vào giỏ hàng" /></a>
                                </div>
                                </div>
                    </div>
                    </div>
                </div>     
                <div class="col-md-12">
                    <div class="in-check">
                        <ul class="unit">
                            <li><span>Mô tả</span></li>
                            <div class="clearfix"></div>
                        </ul>
                        <div class="col-md-12">
                            <span class="text-size">@Html.Raw(Model.Description)</span>
                            <div class="clearfix"></div>
                        </div>
                        <hr />
                    </div>
                </div>
            <div class="col-md-12">
                <!--Related Product Catogory-->
                <ul class="unit">
                    <li><span>Sản phẩm liên quan</span></li>
                    <div class="clearfix"></div>
                </ul>
                @Html.Action("RelatedProductCatogory", "Home", new { id = Model.CatogoriesID })
                <!--End Related Product Catogory-->
                <div class="col-md-12 marginTB50">
                    <div class="fb-like displayB" data-href="https://www.facebook.com/hutechuniversity/" data-width="450" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                    <div class="fb-comments w_100" data-href="http://localhost:51705/Home/Details/@Model.ProductID" data-width="100%" data-numposts="5"></div>
                </div>
            </div>
            </div>
        <hr />
    </div>


