@using OnlineWebShop.Models;
@model Product
  @{
      ViewBag.Title = "Details";
      Layout = "~/Views/Shared/_LayoutUser.cshtml";

    }
@*<div style="display:block">
        <div style="display:inline-block"><img src="~/Assets/~/Assets/img/@Model.ProductImages") alt="@Model.Name"/></div>
        <div style="display:inline-block">
        <p>Tên Sản phẩm: @Model.Name</p>
        <p>Giá: @String.Format("{0:0,0}", @Model.Price) VND </p>
        <p>Thời gian bảo hành: @Model.Warranty Tháng</p>
        @if (Model.Status == false)
        {
        <p>Tình Trạng: Hết hàng</p>
        }
        else
        {
            <p>Tình Trạng: Còn hàng</p>
        }
            <p>Nhà Sản Xuất: @Html.Action("ProducerName", "Home", new { id = @Model.ProducerID })</p>
        <p><a href="@Url.Action("InsertCart","ShoppingCart",new { proid = Model.ProductID, url= @Request.Url.ToString()})" class="btn btn-success" role="button">Thêm giỏ hàng</a></p>
</div>
</div>*@
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="active">Chi tiết sản phẩm</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<!--start-single-->
<div class="single contact">
    <div class="container">
        <div class="single-main">
            <div class="col-md-12">
                <div class="sngl-top">
                    <div class="col-md-5 single-top-left">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="@Model.ProductImages">
                                    <img src="@Model.ProductImages" />
                                </li>
                                <li data-thumb="@Model.ProductImages">
                                    <img src="~/Assets/images/@Model.ProductImages" />
                                </li>
                                <li data-thumb="@Model.ProductImages">
                                    <img src="~/Assets/images/@Model.ProductImages" />
                                </li>
                                <li data-thumb="@Model.ProductImages">
                                    <img src="~/Assets/images/@Model.ProductImages" />
                                </li>
                            </ul>
                        </div>
                        <!-- FlexSlider -->
                        <script defer src="~/Assets/js/jquery.flexslider.js"></script>
                        <link rel="stylesheet" href="~/Assets/css/flexslider.css" type="text/css" media="screen" />

                        <script>
// Can also be used with $(document).ready()
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: "thumbnails"
  });
});
                        </script>
                    </div>
                    <div class="col-md-7 single-top-right" >
                        <div class="details-left-info simpleCart_shelfItem">
                            <h3>@Model.Name</h3>
                            @if (Model.Status != false)
                            {
                            <p class="availability">Tình trạng: <span class="color">Còn hàng</span></p>
                            }
                            else
                            {
                                <p class="availability">Tình trạng: <span class="color">Hết hàng</span></p>
                            }
                            <p><span >Nhà sản xuất: @Html.Action("ProducerName", "Home", new { id = Model.ProducerID })</span></p>
                            <p><span>Thời gian bảo hành : @Model.Warranty Tháng</span></p>
                            <div class="price_single">
                                <span>@String.Format("{0:0,0}",Model.Price) VND</span>
                            </div>
                            @*<h2 class="quick">Quick Overview:</h2>
                            <p class="quick_desc"> Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; es</p>*@
                            @*<div class="quantity_box">
                                <ul class="product-qty">
                                    <span>Quantity:</span>
                                    <select>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </ul>
                            </div>*@
                            <div class="clearfix"> </div>
                            <div class="single-but item_add">
                                @*<p><a href="@Url.Action("InsertCart","ShoppingCart",new { proid = Model.ProductID, url= @Request.Url.ToString()})" class="btn btn-success" role="button">Thêm giỏ hàng</a></p>*@
                                <a href="@Url.Action("InsertCart","ShoppingCart",new { proid = Model.ProductID, url= @Request.Url.ToString()})"><input type="submit" value="Thêm vào giỏ hàng" /></a>
                                </div>
                            <div class="single-but item_add">
                                <a href="@Model.OnlinePay"><img src="http://www.baokim.vn/developers/uploads/baokim_btn/thanhtoan-l.png" alt="Thanh toán an toàn với Bảo Kim !" border="0"></a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                </div>
            
            <div class="col-md-12">
                <!--Related Product Catogory-->
                <ul class="unit">
                    <li><span>Sản phẩm liên quan</span></li>
                    <div class="clearfix"></div>
                </ul>
                  @Html.Action("RelatedProductCatogory", "Home", new { id = Model.CatogoriesID })
                <!--End Related Product Catogory--> 
            </div>
            <hr />
            <div class="col-md-12">
                <div class="in-check">
                    <ul class="unit">
                        <li><span>Mô tả</span></li>
                        <div class="clearfix"></div>
                    </ul>
                    <div class="col-md-12">                    
                      <span>@Html.Raw(Model.Description)</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


