@using OnlineWebShop.Models
@using PagedList.Mvc;
@model PagedList.PagedList<Product>
@{
    ViewBag.Title = "ProductsCatogories";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
    <div class="container">
        <div class="product-one clearfix">
            <div class="col-md-12">
                <div class="in-check">
                    <ul class="unit">
                        <h3><span style="color:white">SẢN PHẨM</span></h3>
                        <div class="clearfix"></div>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                @Html.Action("CatogoriesPartial", "Home")
                <div class="col-md-9">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-3 product-left">
                            <a href="@Url.Action("Details", "Home", new { id = item.ProductID })">
                                <div class="p-one simpleCart_shelfItem" style="width:200px;height:500px">
                                    <img src="/Assets/images/@item.ProductImages" alt="@item.Name" style="height:200px"/>
                                    <div class="mask">
                                    </div>

                                    <h4 class="h4-title">@item.Name</h4>
                                    <p><a href="@Url.Action("InsertCart","ShoppingCart",new { proid = item.ProductID, url= @Request.Url.ToString()})"><i></i></a> <span class=" item_price">@String.Format("{0:0,0}", @item.Price) VND</span></p>
                                    @*<div class="single-but item_add">
                                            <a href="@Url.Action("InsertCart","ShoppingCart",new { proid = item.ProductID, url= @Request.Url.ToString()})"><input type="submit" value="Thêm vào giỏ hàng" /></a>
                                        </div>*@
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
            <div style="text-align:center">@Html.PagedListPager(Model, page => Url.Action("SortByCatogories","Home", new { page = page }))</div>
        </div>
    </div>



