@model IEnumerable<OnlineWebShop.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<div id="page-wrapper">
    @*<div class="col-md-12">
    <div class="col-md-3">
        <div class="search-bar">
            @using (Html.BeginForm("SearchingwName", "Modules", FormMethod.Post))
            {
                <input type="text" placeholder="Nhập sản phẩm" name="searchString" id="searchString">
                <input type="submit" value="">
            }
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>*@

    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Mã số</th>
                <th>Tên khách hàng</th>
                <th>Ngày sinh</th>
                <th>Email</th>
                <th>Điện thoại</th>
                <th>Địa chỉ</th>
                <th>Mật khẩu tài khoản</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CustomerID</td>
                    <td>@item.FullName</td>
                    <td>@item.BirthDay.Value.ToString("dd/MMM/yyyy").</td>
                    <td>@item.Email</td>
                    <td>@item.Phone</td>
                    <td>@item.Address</td>
                    <td>@item.Pass</td>
                    <td><button type="button" class="btn btn-warning"><a href=" @Url.Action("EditCustomer","Modules",new {id=item.CustomerID })">Sửa</a></button> | <button type="button" class="btn btn-danger"><a href=" @Url.Action("DeleteCustomer","Modules",new {id=item.CustomerID })">Xóa</a></button></td>
                </tr>
            }
        </tbody>
    </table>
</div>


