@using OnlineWebShop.Models;
@model AdminAccount
@{
    ViewBag.Title = "EditUser";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}
<div id="page-wrapper">
    <div class="modal_outside_login" id="modal">
        <div class="border_modal_login">
            <div class="modal_contain_login">
                @using (Html.BeginForm("EditUser", "Modules", FormMethod.Post))
            {
                    @Html.ValidationSummary(true)
                    <h1>
                        <span class="text_login">Sửa thông tin nhân viên</span>
                    </h1>
                    <label class="email_group">
                        <h5>Họ và tên:</h5>
                        <input type="text" name="nameUser" value="@Model.FullName" id="pwd[1]" aria-required="true" class="input"></input>
                        @Html.ValidationMessage(Model.FullName)
                        @*<h5>Quyền hạn</h5>
                        <input type="text" name="permissionUser" value="@Model.PermissionID" id="pwd[1]" aria-required="true" class="input"></input>
                        <div>@Html.DropDownListFor(model => model.PermissionID,new SelectList((IEnumerable<Permission>)Model))</div>
                        @Html.DropDownList("Quyền Hạn", (IEnumerable<SelectListItem>)ViewBag.PermissionList,new {@class = "form-control" })
                        @Html.ValidationMessage((Model.PermissionID).ToString())*@
                        @Html.Action("PermissionList","Modules")
                        <h5>Email:</h5>
                        <input type="text" name="email" value="@Model.Email" id="email[1]" aria-required="true" class="input"></input>
                        @Html.ValidationMessage(Model.Email)
                    </label>
                        <input type="submit" value="Sửa thông tin">
                }
            </div>
        </div>
    </div>
    </div>



