@model OnlineWebShop.Models.Product
@{
    ViewBag.Title = "EditProducer";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

    <div class="modal_outside_login" id="modal">
        <div class="border_modal_login">
            <div class="modal_contain_login">
                @using (Html.BeginForm("EditProduct", "Modules", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                   @Html.AntiForgeryToken();
                    <h1>
                        <span class="text_login">Cập nhật thông tin sản phẩm</span>
                    </h1>
                    @Html.ValidationSummary(true)
                    <label class="email_group">
                        <h5>Hình ảnh:</h5>
                            <img src="~/Assets/images/@Model.ProductImages" style="width:500px;height: 500px" />
                            @ViewBag.Mess
                            <input type="file" name="uploadFile" />
                            
                            <h5>Tên sản phẩm:</h5>
                            <input type="text" name="productName" value="@Model.Name" aria-required="true" id="pwd[1]" required class="input" />
                            <h5>Loại sản phẩm:</h5>
                            @Html.DropDownList("productCatogories", (IEnumerable<SelectListItem>)ViewBag.CatList, new { @class = "form-control" })
                            <h5>Nhà sản xuất</h5>
                            @Html.DropDownList("productProducer", (IEnumerable<SelectListItem>)ViewBag.ProList, new { @class = "form-control" })
                            <h5>Thời gian bảo hành:</h5>
                            <input type="number" name="productWarranty" value="@Model.Warranty" id="email[1]" aria-required="true" class="input" />
                            <h5>Số lượng</h5>
                            <input type="number" name="productQuantity" value="@Model.Quantity" id="email[1]" aria-required="true" class="input" />
                            <!--CKEDITOR-->
                            <h5>Mô tả:</h5>
                            @*<input type="text" name="productDescription" value="@Model.Description" id="email[1]" aria-required="true" class="input" ></input>*@
                            <textarea name="productDescription" id="textarea" rows="10" cols="80">@Model.Description</textarea>
                            <script type="text/javascript">
                                CKEDITOR.replace('textarea');
                            </script>
                            <h5>Giá:</h5>
                            <input type="number" name="productPrice" value="@Model.Price" id="email[1]" aria-required="true" class="input" @Model.Description></input>
</label>
                <div class="address new">
                    <input type="submit" value="Sửa thông tin">
                </div>
                }
                <div><a href="@Url.Action("Products","Modules")">Back To Product List</a></div>
            </div>
        </div>
    </div>
