@model OnlineWebShop.Models.Producer
@{
    ViewBag.Title = "EditProducer";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

    <div class="modal_outside_login" id="modal">
        <div class="border_modal_login">
            <div class="modal_contain_login">
                @using (Html.BeginForm("EditProducer", "Modules", FormMethod.Post))
            {
                    @Html.ValidationSummary(true)
                    <h1>
                        <span class="text_login">Sửa thông tin nhà sản xuất</span>
                    </h1>
                    <label class="email_group">
                        @*<h5>Hình ảnh:</h5>
                    <input type="text" name="productImage" value="@Model.ProductImages" id="pwd[1]" aria-required="true" class="input"></input>
                    <h5>Họ và tên:</h5>
                    <input type="text" name="productName" value="@Model.Name" id="pwd[1]" aria-required="true" class="input"></input>*@
                        @*<h5>Quyền hạn</h5>
                    <input type="text" name="permissionUser" value="@Model.PermissionID" id="pwd[1]" aria-required="true" class="input"></input>
                    <div>@Html.DropDownListFor(model => model.PermissionID,new SelectList((IEnumerable<Permission>)Model))</div>
                    @Html.DropDownList("Quyền Hạn", (IEnumerable<SelectListItem>)ViewBag.PermissionList,new {@class = "form-control" })
                    @Html.ValidationMessage((Model.PermissionID).ToString())*@
                        <h5>Tên nhà sản xuất:</h5>
                        <input type="text" name="producerName" value="@Model.Name" id="email[1]" aria-required="true" class="input"></input>
                    </label>
                    <input type="submit" value="Sửa thông tin">
                }
                <div><a href="@Url.Action("Producer","Modules")">Back To Product List</a></div>
            </div>
            </div>
        </div>

