@model OnlineWebShop.Models.Customer

@{
    ViewBag.Title = "InsertCustomer";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}
<div id="page-wrapper">
    <div id="page-wrapper">

        @using (Html.BeginForm("InsertUser", "Modules", FormMethod.Post))
            {
            @Html.ValidationSummary(true)
            <h1>
                <span class="text_login">Thêm mới khách hàng</span>
            </h1>
                <label class="email_group">
                    <h5>Họ và tên:</h5>
                    <input type="text" name="name" placeholder="Họ và tên" id="email[1]" aria-required="true" class="input" required title="Vui lòng nhập họ và tên" />
                    <h5>Email:</h5>
                    <input type="email" name="email" placeholder="Email" id="email[1]" class="input" required pattern=".{9,}" title="Vui lòng nhập đúng email" />
                    <h5>Password:</h5>
                    <input type="password" name="pass" placeholder="Mật khẩu" id="pwd[1]" class="input" required pattern=".{6,}" title="Mật khẩu phải hơn 6 ký tự" />
                    @Html.Action("PermissionList", "Modules")
                </label>
                    <input type="submit" class="btn_login" value="Thêm mới">
        }
    </div>

    <!--Old form-->
    <h2>Tạo mới khách hàng</h2>

    @using (Html.BeginForm("InsertCustomer","Modules"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="form-horizontal">
            <h4>@ViewBag.Error</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FullName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Province, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Province, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Province)
                </div>
            </div> 
            <div class="form-group">
                @Html.LabelFor(model => model.BirthDay, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BirthDay, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BirthDay)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Pass, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Pass, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Pass)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    </div>
