
@model IList<OnlineWebShop.Models.Order>
@{
    ViewBag.Title = "ExportOrdersToExcel";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

@using (Html.BeginForm("ExportOrdersData", "Modules", FormMethod.Post))
{

    <br />
        <br />
        <h2>
            Báo cáo hóa đơn BBA Shop
        </h2>
        <div class="col-md-12" style="padding:5px">
            <h4>Chọn tháng</h4>
            @using (Html.BeginForm("ReportFilterByMonth", "Modules", FormMethod.Get)
            {
                <input type="month" name="month" id="month">
                <input type="submit" title="Chọn tháng">
            }
        </div>
            <table style="background-color: white; width: 100%;">
                <tr>
                    <th style="border: 2px solid black; text-align: center; width: 20%">
                        Mã hóa đơn
                    </th>
                    <th style="border: 2px solid black; text-align: center; width: 20%">
                        Mã khách hàng
                    </th>
                    <th style="border: 2px solid black; text-align: center; width: 20%">
                        Mã người nhận
                    </th>
                    <th style="border: 2px solid black; text-align: center; width: 20%">
                        Trạng thái xử lý
                    </th>
                    <th style="border: 2px solid black; text-align: center; width: 20%">
                        Ngày giao hàng
                    </th>
                    <th style="border: 2px solid black; text-align: center">
                        Tổng tiền hóa đơn
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="padding: 5px;border: 2px solid black; text-align: center">
                            @item.OrderID
                        </td>
                        <td style="padding: 5px;border: 2px solid black; text-align: center">
                            @item.CustomerID
                        </td>
                        <td style="padding: 5px;border: 2px solid black; text-align: center">
                            @item.RecieverID
                        </td>
                        <td style="padding: 5px;border: 2px solid black; text-align: center">
                            @item.Status
                        </td>
                        <td style="padding: 5px;border: 2px solid black; text-align: center">
                            @item.DeliveryDate
                        </td>
                        <td style="padding: 5px;border: 2px solid black; text-align: center">
                            @String.Format("{0:0,0}", item.Total)
                        </td>
                    </tr>
                }
                <tr><td style="border: 2px solid black" colspan="6"><h4 style="float:right">TỔNG CỘNG:@String.Format("{0:0,0}", ViewBag.Total) VND</h4></td></tr>
                <tr>
                    <td colspan="4">
                        <br />
                        <br />
                        <input type="submit" value="Export to Excel" class="button" />

                    </td>
                </tr>
            </table>
}



