@using OnlineWebShop.Models
@using PagedList.Mvc;
@model PagedList.PagedList<OnlineWebShop.Models.AdminAccount>
    @if (Convert.ToString(Session["PermissionID"]) == "1")
    {
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="search-bar">
                    <form action="@Url.Action("SearchAdmin","Modules")" method="get">
                        <input type="text" placeholder="Nhập sản phẩm" name="searchString" id="searchString">
                        <input type="submit" value="">
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <button class="btn-success"><a href="@Url.Action("InsertAdmin","Modules")">Thêm Mới</a></button>
            </div>
        </div>
<div class="col-md-12">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Mã số</th>
                <th>Họ và tên</th>
                <th>Email</th>
                <th>Quyền hạn</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>@item.AdminID</td>
                    <td>@item.FullName</td>
                    <td>@item.Email</td>
                    <td>@item.Permission.PermissionName</td>
                    <td><button type="button" class="btn btn-warning"><a href=" @Url.Action("EditUser", "Modules", new { id = item.AdminID })" >Sửa</a></button> | <button type="button" class="btn btn-danger"><a href=" @Url.Action("DeleteUser", "Modules", new { id = item.AdminID })">Xóa</a></button></td>
                </tr>
            }

        </tbody>
    </table>
    </div>
    }
    else
    {
        <div class="col-md-12">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Mã số</th>
                        <th>Họ và tên</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>@item.AdminID</td>
                            <td>@item.FullName</td>     
                                <td><button type="button" class="btn btn-warning" disabled><a href=" @Url.Action("EditAdmin", "Modules", new { id = item.AdminID })">Sửa</a></button> | <button type="button" class="btn btn-danger" disabled><a href=" @Url.Action("DeleteAdmin", "Modules", new { id = item.AdminID })">Xóa</a></button></td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
<div style="text-align:center">@Html.PagedListPager(Model, page => Url.Action("TableData", "Modules", new { page = page }))</div>
