@using OnlineWebShop.Models
@using PagedList.Mvc;
@model PagedList.PagedList<OnlineWebShop.Models.Product>
@{
    ViewBag.Title = "DeletedProduct";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<div class="col-md-12">
    <div class="col-md-3">
        <div class="search-bar">
            <form action="@Url.Action("SearchProducts", "Modules")" method="get">
                <input type="text" placeholder="Nhập từ khóa" name="searchString" id="searchString">
                <input type="submit" value="">
            </form>
        </div>
    </div>
</div>
<tr class="col-md-12">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Mã số</th>
                <th>Hình ảnh</th>
                <th>Tên sản phẩm</th>
                <th>Loại sản phẩm</th>
                <th>Nhà sản xuất</th>
                <th>Thời gian bảo hành</th>
                <th>Số lượng</th>
                <th>Giá</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Deleted == 2)
                {
                    <tr>
                        <td>@item.ProductID</td>
                        <td class="wh180"><img src="~/Assets/images/@item.ProductImages" style="width:200px;height:200px" /></td>
                        <td>@item.Name</td>
                        @*<td style="max-width:100ch; overflow:hidden; white-space:nowrap;text-overflow:ellipsis" width="100px">@item.Description</td>*@
                        <td>@item.Catogory.CatogoriesName</td>
                        <td>@item.Producer.Name</td>
                        <td>@item.Warranty</td>
                        <td>@item.Quantity</td>
                        <td>@String.Format("{0:0,0}", item.Price) VND</td>
                        <td>
                            <a href=" @Url.Action("RestoreProduct", "Garbage", new { id = item.ProductID })"><button type="button" class="btn btn-success">Phục hồi</button></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    </div>
    <div style="text-align:center">@Html.PagedListPager(Model, page => Url.Action("DeletedProduct", "Garbage", new { page = page }))</div>


