<!DOCTYPE html>
<html>
<head>
    <title>BBA SHOP</title>
    <link href="~/Assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Assets/js/jquery-1.11.0.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="~/Assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Free Style Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400,500,700,800,900,100italic,300italic,400italic,500italic,700italic,800italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <script type="text/javascript" src="~/Assets/js/move-top.js"></script>
    <script type="text/javascript" src="~/Assets/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start menu -->
    <script src="~/Assets/js/simpleCart.min.js"> </script>
    <link href="~/Assets/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Assets/js/memenu.js"></script>
    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
</head>
<body>
    <!--top-header-->
    <div class="top-header">
        <div class="header-top">
            <div class="container clearfix">
                <div class="headerTop-left">
                    <ul>
                        <li class="marginR40"><a href="#"><span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>@Session["AccountName"]</a></li>
                        @*<li><a href="#"><span><i class="fa fa-phone" aria-hidden="true"></i></span>+84 123 456 7890</a></li>*@
                    </ul>
                </div>
                <div class="headerTop-right">
                    <ul>
                        @if (!String.IsNullOrEmpty((String)HttpContext.Current.Session["AccountName"]))
                        {

                            using (Html.BeginForm("LogOut", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                <li><a href="@Url.Action("LogOut","User")">Logout</a></li>

                            }
                        }
                        else
                        {
                            <li><a href="#" class="link_modal_login"><span><i class="fa fa-sign-in" aria-hidden="true"></i></span>Đăng nhập</a></li>

                    <!-- Login Modal -->
                                <div class="modal_outside_login" id="modal">
                                    <div class="border_modal_login">
                                        <div class="modal_contain_login">
                                            @using (Html.BeginForm("Login", "User", FormMethod.Post))
                                            {
                                                <h1>
                                                    <span class="text_login">ĐĂNG NHẬP</span>
                                                </h1>
                                                @*@using (Html.BeginForm("Login", "User", FormMethod.Post))
                                            {*@
                                                <label class="email_group">
                                                    <h5>Email:</h5>
                                                    <input type="text" name="email" placeholder="Email" id="email[1]" aria-required="true" class="input" required></input>
                                                    <h5>Password:</h5>
                                                    <input type="password" name="pass" placeholder="Mật khẩu" id="pwd[1]" aria-required="true" class="input" required></input>
                                                </label>
                                                <input type="submit" class="btn_login" value="Đăng nhập">
                                                <p>Chưa có tài khoản thì bấm vô <a href="@Url.Action("Register", "User")" class="link_signup link_modal_signup">Đăng Ký</a></p>
                                            }
                                        </div>
                                    </div>
                                </div>
                        }
                        <li class="marginL40"><a href="@Url.Action("Register","User")"><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>Đăng ký</a></li>
                    </ul>
                </div>
                <!-- End Login Modal -->
                <!-- Signup Modal -->
                @*<div class="modal_outside_signup" id="modal">
                <div class="border_modal_signup">
                    <div class="modal_contain_signup">
                        <form action="User/Register">
                            <h1>
                                <span class="text_login">ĐĂNG KÝ</span>
                            </h1>
                            <label class="email_group">
                                <h5>Họ tên:</h5>
                                <input type="text" name="name" placeholder="Họ và tên" id="name" aria-required="true" class="input"></input>
                                <h5>Email:</h5>
                                <input type="text" name="email" placeholder="Email" id="email" aria-required="true" class="input"></input>
                                <h5>Địa chỉ:</h5>
                                <input type="text" name="email" placeholder="Địa chỉ" id="address" aria-required="true" class="input"></input>
                                <h5>Password:</h5>
                                <input type="password" name="pwd" placeholder="Mật khẩu" id="pwd" aria-required="true" class="input"></input>
                                <h5>Nhập lại Password:</h5>
                                <input type="text" name="conf-pwd" placeholder="Nhập lại Mật khẩu" id="conf-pwd" aria-required="true" class="input"></input>
                            </label>
                            <a href="@Url.Action("Register","User")" class="btn_login">ĐĂNG KÝ</a>
                            <p>Có tài khoản rồi thì bấm <a href="#" class="link_signup link_modal_login">Đăng Nhập</a></p>
                        </form>
                    </div>
                </div>
            </div>*@
                <!-- End Signup Modal -->

            </div>

                    </div>
                    <div class="container">
                        <div class="top-header-main">
                            <div class="col-md-4 top-header-left">
                                <div class="search-bar">
                                    @using (Html.BeginForm ("SearchingwName", "Home", FormMethod.Post))
                                    {
                                        <input type="text" placeholder="Nhập sản phẩm" name="searchString" id="searchString">
                                        <input type="submit" value="" >
                                    }
                                </div>
                            </div>
                            <div class="col-md-4 top-header-middle">
                                <a href="@Url.Action("Index", "Home")">BBA <span>SHOP</span></a>
                            </div>
                            @Html.Action("CartPartial", "ShoppingCart")
                            <!--EndCart-->
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
    <!--top-header-->
    <!--bottom-header-->
    <div class="header-bottom">
        <div class="container">
            <div class="top-nav">
                <ul class="memenu skyblue">
                    <li class="active"><a href="@Url.Action("Index","Home")">Home</a></li>
                    @Html.Action("GearCatogories", "Home")
                    @Html.Action("LaptopCatogories", "Home")
                    <li class="grid">
                        <a href="@Url.Action("Contact","Home")">Phản hồi</a>
                        <a href="#">Tin Tức</a>
                        <a href="@Url.Action("AboutUs", "Home")">Vì sao chọn chúng tôi ?</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    @RenderBody()
    <div class="footer">
        <div class="container">
            <div class="footer-top">
                <div class="col-md-3 footer-left">
                    <h3>Về chúng tôi</h3>
                    <ul>
                        <li><a href="@Url.Action("AboutUs","Home")">Vì sao chọn chúng tôi?</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-left">
                    <h3>Dịch vụ khách hàng</h3>
                    <ul>
                        <li><a href="@Url.Action("Contact","Home")">Liên hệ chúng tôi</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-left">
                    <h3>Thông tin shop</h3>
                    <ul>
                        <li>Địa chỉ: <a style="color:red">475 Điện Biên Phủ, phường 25, quận Bình Thạnh, TP.HCM</a></li>
                        <li>Điện thoại: <a style="color:red">0912345678</a></li>
                        <li>Email: <a style="color:red">info@bbashop.vn</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--end-footer-->
    <!--end-footer-text-->
    <div class="footer-text">
        <div class="container">
            <div class="footer-main">
                <p class="footer-class">© 2017 BBA SHOP | Design by  <a href="http://w3layouts.com/" target="_blank">BBA SHOP</a> </p>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                /*
                var defaults = {
                        containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                    };
                */

                $().UItoTop({ easingType: 'easeOutQuart' });

            });
        </script>
        <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    </div>
    <!--end-footer-text-->
    <script>
            // You can also use "$(window).load(function() {"
            $(function () {
                // Slideshow 4
                $("#slider4").responsiveSlides({
                    auto: true,
                    pager: true,
                    nav: false,
                    speed: 500,
                    namespace: "callbacks",
                    before: function () {
                        $('.events').append("<li>before event fired.</li>");
                    },
                    after: function () {
                        $('.events').append("<li>after event fired.</li>");
                    }
                });

            });
    </script>
    <script src="~/Assets/js/responsiveslides.min.js"></script>
    <script src="~/Assets/js/style.js"></script>
</body>
</html>

