<!DOCTYPE html>
<html>
<head>
    <title>BBA SHOP</title>
    <!--Start of Zendesk Chat Script-->
    <script type="text/javascript">
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
                d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
                    z.set.
                        _.push(o)
                }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute("charset", "utf-8");
            $.src = "https://v2.zopim.com/?5E2pjAnyfufgLDQahvA9w2RFLyPrEP7X"; z.t = +new Date; $.
                type = "text/javascript"; e.parentNode.insertBefore($, e)
        })(document, "script");
    </script>
    <!--End of Zendesk Chat Script-->
    
    <!---Start FontAwesome-->
    <link href="~/Assets/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!--End fontawesome-->
    
    <!--CkEditor-->
    <script src="~/Areas/Admin/Assets/ckeditor/ckeditor.js"></script>
    <script src="~/Areas/Admin/Assets/ckeditor/styles.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace('description');
    </script>
    </script><!---->
    <link href="~/Assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Assets/js/jquery-1.11.0.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="~/Assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Free Style Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400,500,700,800,900,100italic,300italic,400italic,500italic,700italic,800italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <script type="text/javascript" src="~/Assets/js/move-top.js"></script>
    <script type="text/javascript" src="~/Assets/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start menu -->
    <script src="~/Assets/js/simpleCart.min.js"> </script>
    <link href="~/Assets/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Assets/js/memenu.js"></script>
    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
</head>
<body>
    <!--top-header-->
    <div class="top-header">
        <div class="header-top">
            <div class="container clearfix">
                <div class="headerTop-left">
                    <ul>
                        <li class="marginR40"><a href="#"><span></span>@Session["AccountName"]</a></li>
                        @*<li><a href="#"><span><i class="fa fa-phone" aria-hidden="true"></i></span>+84 123 456 7890</a></li>*@
                    </ul>
                </div>
                <div class="headerTop-right">
                    <ul>
                        @if (!String.IsNullOrEmpty((String)HttpContext.Current.Session["AccountName"]))
                        {

                            using (Html.BeginForm("LogOut", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                <li><a href="@Url.Action("LogOut","User")">Logout</a></li>

                            }
                        }
                        else
                        {
                            <li><a href="#" class="link_modal_login"><span><i class="fa fa-sign-in" aria-hidden="true"></i></span>Đăng nhập</a></li>

                    <!-- Login Modal -->
                                <div class="modal_outside_login" id="modal">
                                    <div class="border_modal_login">
                                        <div class="modal_contain_login">
                                            @using (Html.BeginForm("Login", "User", FormMethod.Post))
                                            {
                                                <h1>
                                                    <span class="text_login">ĐĂNG NHẬP</span>
                                                    
                                                </h1>
                                                <p>@ViewBag.Mess</p>
                                                @*@using (Html.BeginForm("Login", "User", FormMethod.Post))
                                            {*@
                                                <label class="email_group">
                                                    <h5>Email:</h5>
                                                    <input type="email" name="email" placeholder="Email" id="email[1]" aria-required="true" class="input" required title="Vui lòng nhập đúng email" autofocus></input>

                                                    <h5>Password:</h5>
                                                    <input type="password" name="pass" placeholder="Mật khẩu" id="pwd[1]" aria-required="true" class="input" required  title="Vui lòng nhập đúng mật khẩu" value=""></input>
                                                </label>
                                                <input type="submit" class="btn_login" value="Đăng nhập">
                                                <p>Chưa có tài khoản thì bấm vô <a href="@Url.Action("Register", "User")" class="link_signup link_modal_signup">Đăng Ký</a></p>
                                            }
                                        </div>
                                    </div>
                                </div>
                        }
                        <li class="marginL40"><a href="@Url.Action("Register","User")"><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>Đăng ký</a></li>
                    </ul>
                </div>
                <!-- End Login Modal -->
            </div>

                    </div>
                    <div class="container">
                        <div class="top-header-main">
                            <div class="col-md-4 top-header-left">
                                <div class="search-bar">
                                    <form action="@Url.Action("SearchingwName","Home")" method="get">
                                        <input type="text" placeholder="Nhập sản phẩm" name="searchString" id="searchString">
                                        <input type="submit" value="">
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-4 top-header-middle">
                                <a href="@Url.Action("Index", "Home")">BBA <span>SHOP</span></a>
                            </div>
                            @Html.Action("CartPartial", "ShoppingCart")
                            <!--EndCart-->
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
    <!--top-header-->
    <!--bottom-header-->
    <div class="header-bottom">
        <div class="container">
            <div class="top-nav">
                <ul class="memenu skyblue">
                    <li class="active"><a href="@Url.Action("Index","Home")">Home</a></li>
                    @Html.Action("GearCatogories", "Home")
                    @Html.Action("LaptopCatogories", "Home")
                    <li class="grid">
                        <a href="@Url.Action("Contact","Home")">Phản hồi</a>
                        <a href="@Url.Action("News","Home")">Tin Tức</a>
                        <a href="@Url.Action("AboutUs", "Home")">Về chúng tôi</a>
                    </li>
                </ul>
            </div>
            @*<div class="clearfix"> </div>*@
        </div>
    </div>
    <div class="shoes">
        @RenderBody()
        <div class="info-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1248027786382!2d106.71240731422533!3d10.801752261680834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTDCsDQ4JzA2LjMiTiAxMDbCsDQyJzUyLjYiRQ!5e0!3m2!1svi!2s!4v1507022605423" width="100%" height="450" frameborder="0" style="border:0;border-radius: 8px;" allowfullscreen></iframe>
        </div>
        </div>
    <div class="footer">
            <div class="container">
                <div class="footer-top">
                    <div class="col-md-4 footer-left">
                        <h3 style="color:brown">THÔNG TIN</h3>
                        <ul>
                            <li><a href="@Url.Action("AboutUs","Home")"><i class="fa fa-question fa-2x" aria-hidden="true"></i><h4>Về chúng tôi</h4></a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 footer-left">
                        <h3 style="color:brown">DỊCH VỤ KHÁCH HÀNG</h3>
                        <ul>
                            <li><a href="@Url.Action("Contact","Home")"><i class="fa fa-reply fa-2x" aria-hidden="true"></i><h4>Liên hệ chúng tôi</h4></a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 footer-left">
                        <h3 style="color:brown">BBASHOP - SHOP GAMING GEAR HCM</h3>
                        <ul>
                            <li><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i><h4 style="color:red"><a href="#">475 Điện Biên Phủ, phường 25, quận Bình Thạnh, TP.HCM</a></h4></li>
                            <li><i class="fa fa-phone fa-2x" aria-hidden="true"></i><h4 style="color:red"><a href="#">0912345678</a></h4></li>
                            <li><i class="fa fa-envelope fa-2x" aria-hidden="true"></i><h4 style="color:red"><a href="#">info@bbashop.vn</a></h4></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <!--end-footer-->
        <!--end-footer-text-->
            <div class="footer-text">
                <div class="container">
                    <div class="footer-main">
                        <p class="footer-class">© @DateTime.Now.Year BBA SHOP | Design by  <a href="@Url.Action("Index","Home")" target="_blank">BBA SHOP</a> </p>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    /*
                    var defaults = {
                            containerID: 'toTop', // fading element id
                        containerHoverID: 'toTopHover', // fading element hover id
                        scrollSpeed: 1200,
                        easingType: 'linear'
                        };
                    */

                    $().UItoTop({ easingType: 'easeOutQuart' });

                });
            </script>
            <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
        <!--end-footer-text-->
        <script>
                // You can also use "$(window).load(function() {"
                $(function () {
                    // Slideshow 4
                    $("#slider4").responsiveSlides({
                        auto: true,
                        pager: true,
                        nav: false,
                        speed: 500,
                        namespace: "callbacks",
                        before: function () {
                            $('.events').append("<li>before event fired.</li>");
                        },
                        after: function () {
                            $('.events').append("<li>after event fired.</li>");
                        }
                    });

                });
        </script>
        <script src="~/Assets/js/responsiveslides.min.js"></script>
        <script src="~/Assets/js/style.js"></script>
        <!--- Start Facebook API-->
        <!--SLike-->
        <div id="fb-root"></div>
        <script>
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10';
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
        <!--End Like-->
        <!--S Share-->
        <div id="fb-root"></div>
        <script>
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10';
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
        <!--End Share-->
        <!--S Comment Product-->
        <div id="fb-root"></div>
        <script>
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10';
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
        <!--End Comment-->
    
</body>
</html>
<noembed>
