@*<a href="@Url.Action("Cart","ShoppingCart")" style="color:white;font-weight:bold">
    <img src="/Assets/img/Cart.png" style="height:24px" />(@ViewBag.Amount)
</a>*@
<div class="col-md-4 top-header-right">
    <div class="cart box_1">
        <a href="@Url.Action("Cart","ShoppingCart")">
            <div class="total">
                <span>@String.Format("{0:0,0}",@ViewBag.Total)</span> (<span>@ViewBag.Amount</span>  items)
            </div>
            <img src="~/Assets/images/cart-1.png" alt="" />
        </a>
        <p><a href="@Url.Action("Cart","ShoppingCart")" class="simpleCart_empty">Xem giỏ hàng</a></p>
        <div class="clearfix"> </div>
    </div>
</div>

