@using OnlineWebShop.Models
@model List<ShoppingCartModels>
@{
    ViewBag.Title = "OrderInform";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                <li><a href="@Url.Action("Cart","ShoppingCart")">Giỏ Hàng</a></li>
                <li class="active">Thanh Toán</li>
            </ol>
        </div>
    </div>
</div>
@*@if (!String.IsNullOrEmpty((String)HttpContext.Current.Session["AccountName"]))
{}*@
@*@if (!String.IsNullOrEmpty((String)HttpContext.Current.Session["AccountName"]))
{
    //using (Html.BeginForm("LogOut", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    //{
    Customer cus = (Customer)Session["AccountCustomer"];
    <table>
        @using (Html.BeginForm("OrderInform", "ShoppingCart"))
        {
            @Html.ValidationSummary(true)
            <tr>
                <td>Tên người nhận:</td>
                <td>
                    @cus.FullName
                </td>
            </tr>
            <tr>
                <td>Địa chỉ:</td>
                <td>
                    @cus.Address
                </td>
            </tr>
            <tr>
                <td>Ngay Giao:</td>
                <td>
                    <input type="date" name="deliveryDate" />
                </td>
            </tr>
                <tr>
                    <td>Số điện thoại:</td>
                    <td>
                        @cus.Phone
                    </td>
                </tr>
              <tr>
                  <td><input type="submit" value="Đặt Hàng" /></td>
        </tr>
        }
        </table>
}
else
{
    <table>
    @using (Html.BeginForm("OrderInform", "ShoppingCart"))
    {
        @Html.ValidationSummary(true)
        <tr>
            <td>Tên người nhận:</td>
            <td>
                @Html.TextBox("Name")
            </td>
        </tr>
            <tr>
                <td>Địa chỉ:</td>
                <td>
                    @Html.TextBox("Address")
                </td>
            </tr>
            <tr>
                <td>Ngay Giao:</td>
                <td>
                    <input type="date" name="deliveryDate" />
                </td>
            </tr>
            <tr>
                <td>Số điện thoại:</td>
                <td>
                    @Html.TextBox("Phone")
                </td>
            </tr>
                <tr>
                    <td><input type="submit" value="Đặt Hàng" /></td>
                </tr>
    }
        </table>
}*@

<!--end-breadcrumbs-->
<!--start-ckeckout-->
@using (Html.BeginForm("OrderInform", "ShoppingCart"))
{
<div class="container">
    <div class="col-md-3">
      
            <div class="col-md-12">
               <h3>Thông tin đặt hàng</h3>
            </div>
                        <div class="address">
                            <span>Họ và tên</span>
                            <input type="text" name="Name">
                        </div>
                        <div class="address">
                            <span>Địa chỉ</span>
                            <input type="text" name="Address">
                        </div>
                        <div class="address">
                            <span>Ngày giao</span>
                            <input type="date" name="deliveryDate">
                        </div>
                        <div class="address">
                            <span>Số điện thoại</span>
                            <input type="tel" name="Phone">
                        </div>
                        <div class="address">
                            <input type="submit" value="Xác nhận thanh toán">
                        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="col-md-7">
        <!--Thanh toan truc tuyen-->
        <div class="col-md-12">Thanh toan truc tuyen</div>
        <!--End thanh toan truc tuyen-->
        <!--Thong tin gio hang-->
        <div class="col-md-12">
            <div class="ckeckout">
                <div class="container">
                    <div class="ckeckout-top">
                        <div class=" cart-items heading">
                            <h3>Giỏ hàng của tôi (@String.Format("{0:0,0}", @ViewBag.Total))</h3>
                            <script>
                    $(document).ready(function (c) {
                        $('.close1').on('click', function (c) {
                            $('.cart-header').fadeOut('slow', function (c) {
                                $('.cart-header').remove();
                            });
                        });
                    });
                            </script>
                            <script>
                    $(document).ready(function (c) {
                        $('.close2').on('click', function (c) {
                            $('.cart-header1').fadeOut('slow', function (c) {
                                $('.cart-header1').remove();
                            });
                        });
                    });
                            </script>
                            <script>
                    $(document).ready(function (c) {
                        $('.close3').on('click', function (c) {
                            $('.cart-header2').fadeOut('slow', function (c) {
                                $('.cart-header2').remove();
                            });
                        });
                    });
                            </script>

                            <div class="in-check">
                                <ul class="unit">
                                    <li></li>
                                    <li><span>Hình ảnh</span></li>
                                    <li><span>Tên sản phẩm</span></li>
                                    <li><span>Số lượng</span></li>
                                    <li><span>Đơn giá</span></li>
                                    <li><span>Thành tiền</span></li>
                                    @*<li><span>Tình trạng</span></li>*@
                                    <div class="clearfix"> </div>
                                </ul>
                                @foreach (var item in Model)
                                {
                                    <ul class="cart-header">
                                        <li>
                                            <a href="@Url.Action("DeleteProductCart", "ShoppingCart", new { proid = item._productID })">
                                                <div class="close1"> </div>
                                            </a>
                                        </li>
                                        <li class="ring-in">
                                            <a href="@Url.Action("Details", "Home", new { id = item._productID })"><img src="~/Assets/images/@item._productImages" class="img-responsive" alt=""></a>
                                        </li>
                                        <li><a href="@Url.Action("Details", "Home", new { id = item._productID })"><span>@item._productName</span></a></li>
                                        @using (Html.BeginForm("UpdateAmount", "ShoppingCart", new { id = item._productID }))
                                        {
                                            <li><span><input type="number" min="1" name="amount" value="@item._quantity" /><input type="submit" value="Cập Nhật" /></span></li>
                                            <li><span>@String.Format("{0:0,0}", item._unitPrice) VND </span></li>
                                            <li ><span>@String.Format("{0:0,0}", item._total) VND</span></li>

                                        }
                                        @*if (item._status == )
                                            {
                                                <li><span>Còn hàng</span></li>
                                            }
                                            else
                                            {
                                                <li><span>Hết hàng</span></li>
                                            }*@

                                        @*<li><a href="@Url.Action("Details", "Home", new { id = item._productID })"><strong>Chi tiết sản phẩm</strong></a></li>*@
                                        <div class="clearfix"></div>
                                    </ul>
                                }
                                <div colspan="6" style="text-align:right" name="cartTotal">Tổng tiền : @String.Format("{0:0,0}", @ViewBag.Total) VND</div>
                                <div colspan="6" style="text-align:right">@Html.ActionLink("Xóa giỏ hàng", "DeleteCart", "ShoppingCart")</div>
                                <div colspan="6" style="text-align:right">@Html.ActionLink("Tiếp tục mua hàng", "Index", "Home")</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Thong tin gio hang-->
    </div>
</div>
}
