@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@*<table align="center">
       <h3 style="text-align:center">Đăng Nhập</h3>
       <h4>@ViewBag.Mess</h4>
       @using (Html.BeginForm())
       {
           @Html.ValidationSummary(true)
           <tr style="height:40px">
               <td>Email:</td>
               <td>@Html.TextBox("email")
                   @ViewData["Error1"]</td>
           </tr>
           <tr style="height:40px">
               <td >Mật khẩu:</td>
               <td><input name="pass" type="password" /> @ViewData["Error2"]</td>
           </tr>
           <tr>
               <td><input type="Submit" value="Đăng Nhập"/></td>
           </tr>
       }
    </table>*@
@*<div class="account">
        <div class="container">
            <div class="account-bottom">

                <div class="col-md-6 account-left">

                        <div class="account-top heading">
                            <h3>Đăng nhập</h3>
                        </div>
    @using (Html.BeginForm("Login", "User", FormMethod.Post))
    {
                        <div class="address">
                            <span>Email Address</span>
                            <input type="text" name="email">
                        </div>
                        <div class="address">
                            <span>Password</span>
                            <input type="text" name="pass">
                        </div>
                        <div class="address">
                            <a class="forgot" href="#">Forgot Your Password?</a>
                            <input type="submit" value="Login">
                        </div>
    }
                </div>

            </div>
            </div>
        </div>*@

@*@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
                <h1>
                    <span class="text_login">ĐĂNG NHẬP</span>
                </h1>
                @using (Html.BeginForm("Login", "User", FormMethod.Post))
                {
                    <label class="email_group">
                        <h5>Email:</h5>
                        <input type="text" name="email" placeholder="Email" id="email[1]" aria-required="true" class="input"></input>
                        <h5>Password:</h5>
                        <input type="password" name="pass" placeholder="Mật khẩu" id="pwd[1]" aria-required="true" class="input"></input>
                    </label>
                    <input type="submit" class="btn_login" value="Login">
                <p>Chưa có tài khoản thì bấm vô <a href="@Url.Action("Register", "User")" class="link_signup link_modal_signup">Đăng Ký</a></p>
}*@
